.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
}
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}

.section:nth-child(odd) {
  background: #fff;
}

.section:nth-child(even) {
  background: rgb(234, 241, 255);
}
