.container {
  max-width: $bp-wide * 1px;
  margin: 0 auto;
  padding: 0 4%;

  @include pc(){
    padding: 0 8%;
  }
}
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Noto Sans JP";
}
img {
  max-width: 100%;
  vertical-align: bottom;
}

.section:nth-child(odd) {
  background: #fff;
}

.section:nth-child(even) {
  background: #faffff;
}

.section {
  padding: vw(40) 0;
}

@include pc () {
  @include padding(80,0);
}
